# Unreal Engine 에셋 무시
#*.uasset
#*.umap
#*.fbx
#*.wav
#*.mp4
#*.avi

# 임시/캐시 디렉토리 무시
Binaries/
Saved/
Intermediate/
DerivedDataCache/
.vscode/
*.mp4
*.log
*.tmp
*.zip
*.exe

#특정 폴더 무시
/AniAniTest/Content/Weapon_Pack/
/FirstGame/Content/Weapon_Pack/